body{
    .container{
        .rel{
            position: relative;
            .abs{
                position: absolute;
                z-index: -1;
                video{
                    width: 100%;
                }
            }
        }
    }
}
a{
    text-decoration: none;
    color: white;
}